<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css/respondent-css")

</head>
<body>
    <div class="page">
        <div class="header">
            <div class="logo">
                <img src="~/Images/equilobe-logo.png" alt="Equilobe" />
            </div>
            <div class="candidate-info">
                @ViewBag.Name (@ViewBag.Email)
            </div>
        </div>
        @RenderBody()
        <div class="footer">
            &copy; Equilobe 2007-@DateTime.Now.Year
        </div>
    </div>


    @Scripts.Render("~/bundles/TestDelivery")
    @RenderSection("scripts", required: false)
</body>
</html>
